.error {
    border: 2px solid red;
}

tr:nth-child(odd) {

    background-color: #C9E4F6;

  }

  tr:nth-child(even) {

    background-color: #B4DAF2;
  }

#logo {
    float:left; width:100px; height:100px;
}

header{
   background-color:#E6E6FA; padding: 10px; height:120px;
}
header h1 {
  padding: 25px;  
  margin-left: 100px;
}

footer{

    width:100%; background-color:#ccc; padding: 10px; margin: 10px; background:  #E6E6FA;

}
div {
  max-width:960px; margin: 0 auto ; margin-top:20px; padding:10px;  

}
.content, .form {
   width: 40%;
   background-color: #FFF5EE;
}

body {  background-color: #fceae8 !important ;  }

